/* WebStudio + Portfolio */

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

body{
    font-family: 'Roboto', sans-serif;
   color: #434455;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Navigation */

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-flex{
    display: flex;
}

.nav {
    display: flex;
}

.nav-list{
    display: flex;
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.nav-first{
    margin-right: 40px;
}

.nav-second{
    margin-right: 40px;
}

.nav-third{
    margin-right: 332px;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

/* Logo */

.logo-span{
    font-family: 'raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.link-logo{
    font-family: 'raleway', sans-serif;
    color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

}

/* Adress */

.adress-list{
    display: inline-flex;
}

.adress-link{
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.adress-first{
    margin-right: 40px;
}

.adress-link:hover,
.adress-link:focus{
    color: #404bbf;
}

/* Hero */

.hero{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    display: flex;
}

.hero-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.06;
    width: 494px;
    height: 120px;
    margin-bottom: 64px;
}

.hero-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px (0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    
}

.hero-button:hover,
.hero-button:focus{
    background: #404BBF;
}

/* 1 Section,
portfolio section */

.solution{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-list{
    display: flex;
}

.list-head{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.list-text{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.solution-first{
    margin-right: 24px;
}

.solution-second{
    margin-right: 24px;
}
.solution-third{
    margin-right: 24px;
}

/* 2-nd Section */

.section-img{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    text-align: center;
}

.list-img{
    padding-top: 72px;
    padding-bottom: 120px;
    display: flex;
}

.img-first{
    margin-right: 24px;
}

.img-second{
    margin-right: 24px;
}

/* 3-rd section */

.sec-people{
    background-color: #F4F4FD;
}

.people-list{
    display: flex;
    padding-bottom: 120px;

}

.img-fon{
    background-color: #FFFFFF;
}

.men-one{
    margin-right: 24px;
    order: 1;
}

.men-two{
    margin-right: 24px;
    order: 2;
}

.men-three{
    margin-right: 24px;
    order: 3;
}

.men-four{
    order: 4;
}

.sec-head{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
padding-top: 120px;
padding-bottom: 72px;
}

.people-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
}
.sec-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 32px;
}

/* Footer */

.footer{
    background-color: #2E2F42;
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-span{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    height: 72px;
    margin-top: 16px;
}

/* Portfolio */

.buttons{
    padding-top: 96px;
    padding-bottom: 72px;
    display: flex;
    justify-content: center;
}

.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
    padding:12px 24px;
    border: #E7E9FC;
    border-radius: 4%;
    text-align: center;
    margin-right: 24px;
}

.button:hover,
.button:focus{
    color: #FFFFFF;
    background: #404BBF;
}

/* Photo List */

.photo-list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.photo-one{
    height: 420px;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
}

.photo-two{
    height: 420px;
    margin-right: 24px;
    border: 1px solid #E7E9FC;
}

.photo-three{
    height: 420px;
    border: 1px solid #E7E9FC;

}

.photo-four{
    height: 420px;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
}

.photo-five{
    height: 420px;
    margin-right: 24px;
    border: 1px solid #E7E9FC;
}

.photo-six{
    height: 420px;
    border: 1px solid #E7E9FC;
}

.photo-seven{
    margin-right: 24px;
    border: 1px solid #E7E9FC;
}
.photo-eight{
    margin-right: 24px;
    border: 1px solid #E7E9FC;
}
.photo-nine{
    border: 1px solid #E7E9FC;
}

.mark{
    padding-top: 32px;
    padding-left: 16px;
}

.info{
    padding-bottom: 32px;
    padding-left: 16px;
}